<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="DiplomchikEntities" connectionString="metadata=res://*/ApplicatModel.Model1.csdl|res://*/ApplicatModel.Model1.ssdl|res://*/ApplicatModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5M8SN1A\SQLEXPRESS;initial catalog=Diplomchik;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>